.display-3 {
  text-align: center;
}
.input-group input {
  margin-top: 20px;
  margin-left: 80px;
  margin-bottom: 20px;
  width: 130%;
}

.btn {
  margin-left: 250px;
}

.list-group-item {
  width: 310%;
  cursor: pointer;
}

.list-group-item:hover {
  background-color: #eee;
}

.container-fluid {
  background-color: #f2f2f2;
}
